<div class="hide fb-share-dialog">
	<div id="share-title">Share this list with your Facebook friends:</div>
	<br />
	<div>
		<textarea id="share-text"></textarea>
	</div>
	<div class="right">
		<input id="shareable-id" type="hidden" />
		<input id="shareable-type" type="hidden" />
		<input id="share-submit" type="submit" value="Post to Facebook" />
	</div>
</div>