.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

.hide{
    display:none;
}

.flash{
    position:fixed;
    left:0;
    top:-62px;
    width:100%;
    height:40px;
    text-align:center;
    padding-top:20px;
    font-size:22px;
    overflow:hidden;
}

.flash.error{
    background-color:#FF3131;
    border-bottom:2px solid #B90E0E;
    color:#F3F3F3;
}

.border-right{
    padding-right:25px;
    margin-right:25px;
    border-right:1px solid #CCC;
}

.welcome{
    color:white;
    position:absolute;
    top:5px;
    right:15px;
}
.welcome a{
    color:#D0D0CB;
}

.omniauth-links{
    padding-top:35px;
}

.list_item, .list{
    padding:10px 0px;
    border-bottom:1px solid #CCC;
    min-height:35px;
}

.list-item-text{
	display:inline;
	float:left;
	font-size:18px;
	max-width:485px;
}

.completed-item{
	text-decoration: line-through;
}

.completed-div{
    margin:0 5px;
    width:105px;
    text-align:right;
}
.delete-div{
    margin:0 5px;
    width:80px;
}

.completed-item-link{
	float:right;
}

.fb-share-list{
	float:right;
	cursor:pointer;
	padding-right:10px;
}

#share-text{
    width:470px;
    height:70px;
}

#list_items, #lists{
    width:695px;
}
#main_content{
    float:left;
    width:695px;
}
#adsense{
    float:left;
    width:200px;
    padding-left:20px;
}
/*
	project: web application template
	author: luka cvrk (www.solucija.com)
*/

*{ margin: 0; padding: 0; }*
body { margin: 50px 0 0; background: #fff url(../images/bg.gif) repeat-x; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
	h1 { font-size: 3em; font-weight: normal; }
	h1 a { text-decoration: none; }
	h2 { font-size: 2em; color: #656263; font-weight: normal; margin: 0 0; }
	h3 { font-size: 1.5em; margin: 0 0 .8em; }
	p  { margin: 0 0 2em 0; line-height: 1.8em; }
	em { border-bottom: 1px dotted #fff; cursor: pointer; }
	a { color: #9D2900; }
	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; }
	
.wrap { width: 930px; margin: 0 auto; }
 
#header { width: 900px; height: 50px; margin: 0 auto; }
 
#bar1 { clear: both; height: 85px; background: #fff url(../images/teaserbg.jpg) repeat-x; }
.box { float: left; padding: 42px 0 0; width: 870px; color: #C7E3EE; }
.list-title{
    margin:8px 0;
    color:#C7E3EE;
}
.list-created-by{
    margin:8px 0;
    color:#1E4357;
}
#name { 
    height:26px;
    font-size:18px;
    width:350px;
}
#list_name{
    height:26px;
    font-size:18px;
    width:200px;
}

#bar2 { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background-color:#618B58; }

#footer { clear: both; width: 900px; margin:25px auto 5px auto; padding: 15px; border-top: 1px solid #e0e0e0; background-color:#fff; }	
	#footer .right { float: right; margin: 0 55px 0 0; }
	#footer a { color: #808080; font-weight: bold; }
	
	
	
/* Styles for custom select box */
#page{
	width:230px;
	margin:100px auto;
}

#page h1{
	font-weight:normal;
	text-indent:-99999px;
	overflow:hidden;
	background:url('../images/your_product.png') no-repeat;
	width:230px;
	height:36px;
}

#page form{
	margin:20px auto;
	width:200px;
}

.tzSelect{
	/* This is the container of the new select element */
    margin-right:15px;
	height:34px;
	display:inline-block;
	min-width:200px;
	position:relative;

	/* Preloading the background image for the dropdown */
	background:url("../images/dropdown_slice.png") no-repeat -99999px;
}

.tzSelect .selectBox{
	position:absolute;

	height:100%;
	width:315px;

	/* Font settings */

	font:13px/34px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-shadow:1px 1px 0 #EEEEEE;
	color:#666666;

	/* Using CSS3 multiple backgrounds and a fallback */

	background:url('../images/select_slice.png') repeat-x #ddd;
	background-image:url('../images/select_slice.png'),url('../images/select_slice.png'),url('../images/select_slice.png'),url('../images/select_slice.png');
	background-position:0 -136px, right -204px, 50% -68px, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;

	cursor:pointer;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.tzSelect .selectBox:hover,
.tzSelect .selectBox.expanded{
	background-position:0 -170px, right -238px, 50% -102px, 0 -34px;
	color:#2c5667;
	text-shadow:1px 1px 0 #9bc2d0;
}

.tzSelect .dropDown{
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	border:1px solid #32333b;
	border-width:0 1px 1px;
	list-style:none;
	
	max-height:400px;
	overflow:auto;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	-moz-box-shadow:0 0 4px #111;
	-webkit-box-shadow:0 0 4px #111;
	box-shadow:0 0 4px #111;
}

.tzSelect li{
	height:42px;
	cursor:pointer;
	position:relative;

	/* Again, using CSS3 multiple backgrounds */

	background:url('../images/dropdown_slice.png') repeat-x #222;
	background-image:url('../images/dropdown_slice.png'),url('../images/dropdown_slice.png'),url('../images/dropdown_slice.png');
	background-position: 50% -85px, 0 -42px, 0 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

.tzSelect li:hover{
	background-position: 50% -128px, 0 -42px, 0 0;
}

.tzSelect li span.text{
	left:32px;
	position:absolute;
	top:15px;
}

.tzSelect li span.delete-list{
	left:7px;
	position:absolute;
	top:15px;
	display:none;
}

.tzSelect li i{
	color:#999999;
	display:block;
	font-size:12px;
}



.button{
    font:15px Calibri, Arial, sans-serif;

    /* Overriding the default underline styling of the links */
    text-decoration:none !important;
    white-space:nowrap;

    display:inline-block;
    vertical-align:top;
    position:relative;
    cursor:pointer;
    padding:6px 17px;

    background-repeat:no-repeat;
    
    /* CSS3 background positioning property with multiple values. The background
       images themselves are defined in the individual color classes */

    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;

    /* Applying a default border radius of 8px */

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

    /* A 1px highlight inside of the button */

    -moz-box-shadow:0 0 1px #fff inset;
    /*-webkit-box-shadow:0 0 1px #fff inset;*/
    box-shadow:0 0 1px #fff inset;

    /* Animating the background positions with CSS3 */
    /* Currently works only in Safari/Chrome */

    -webkit-transition:background-position 1s;
    -moz-transition:background-position 1s;
    -o-transition:background-position 1s;
    transition:background-position 1s;
}

.button:hover{
    /* The first rule is a fallback, in case the browser
       does not support multiple backgrounds
    */
    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
}

/* The three buttons sizes */

.button.big        { font-size:30px;}
.button.medium    { font-size:17px;}
.button.small    { font-size:14px;}

/* A more rounded button */

.button.rounded{
    -moz-border-radius:4em;
    -webkit-border-radius:4em;
    border-radius:4em;
}

/* BlueButton */

.blue.button{
    color:#0f4b6d !important;

    border:1px solid #84acc3 !important;

    background-color: #48b5f2;
}

.blue.button:hover{
    background-color:#63c7fe;
}


/* GreenButton */

.green.button{
    color:#F2F5EF !important;

    border:1px solid #84acc3 !important;

    background-color: #618B58;
}

.green.button:hover{
    background-color:#7CB271;
}


/* RedButton */

.red.button{
    color:#F2F5EF !important;

    border:1px solid #84acc3 !important;

    /* A fallback background color */
    background-color: #CB3628;

}

.red.button:hover{
    background-color:#971A10;
}

#private_toggle_div{
    padding-top:8px;
    padding-right:15px;
    font-size:16px;
    width:90px;
}
#private_toggle_div input{
    margin-right:4px;
}

form#new_list_item{
    display:inline;
}

#fb_icon { margin-bottom: -3px; padding:0 2px;}

#create_new_list{ padding-right:5px;}